.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('/img/index/footer.png');
    color: #ffffff;
}

.footer-2 {
    background-image: url('/img/index/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    text-align: center;
    padding: 20px;
}

.clock {
    color: #898989 !important;
}

.clock:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/index/clock.png');
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before,
.emailico:before,
.telefoneico:before {
    content: '';
    width: 17px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before {
    background-image: url('../img/index/local.png');
}

.emailico:before {
    background-image: url('../img/index/emailico.png');
}

.telefoneico:before {
    background-image: url('../img/index/telefoneico.png');
}