.col-100-footer{
    width: 100%;
    position: relative;
    float: left;
}

.content-footer {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-div{
    width: 20%;
    text-align: center;
    transition:box-shadow 3s;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('/img/index/footer.png');
    color: #ffffff;
    width: 100%;
}

.footer-2 {
    background-image: url('/img/index/footer2.png');
    color: #c1c1c1;
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    text-align: center;
    padding: 20px;
}

.clock {
    color: #898989 !important;
}

.clock:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/index/clock.png');
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before,
.emailico:before,
.telefoneico:before {
    content: '';
    width: 17px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before {
    background-image: url('../img/index/local.png');
}

.emailico:before {
    background-image: url('../img/index/emailico.png');
}

.telefoneico:before {
    background-image: url('../img/index/telefoneico.png');
}


@media screen and (max-width:700px){

    .content-footer {
        align-items: center;
        flex-direction: column;
    }

    .footer-div{
        width: 80%;
        text-align: center;
        transition:box-shadow 3s;
    }
}