.item-section {
    width: 100%;
}

.item-box {
    width: 60%;
    background-color:#232623;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    padding: 1em;
    display: flex;
    align-items: center;
}

.product-img{
    width: 60%;
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin:2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.item-price-top{
    width: 40%;
    background-color:white;
    margin: 0 auto;
    margin:2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

#item-price{
    font-size: 25px;
    margin: 5%;
    text-align: center;
}

.item-desc {
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
}

#item-title {grid-area: title;}
#item-types{grid-area:item-types;}
#item-thumbs{grid-area:item-thumbs;}
#item-thumb-1{grid-area:item-thumb-1;}
#item-thumb-2{grid-area:item-thumb-2;}
#buy-button{grid-area:buy;}

.buy-button{
    background-color: #524d53;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    color: white;
    transition: box-shadow 0.5s,background-color 0.5s;
}

.buy-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px white;
    background-color:#232623;
}

.item-thumbs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.item-thumb{
    width: 30%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border:2px solid black;
    margin:2%;
    border-radius: 10px;
}

.item-thumb:hover{
    box-shadow: 0px 0px 15px black;
    transition: box-shadow 0.5s;
}


#item-thumb-1,#item-thumb-2{
    cursor:pointer;
}

#item-title,
#item-types {
    font-size: 2vh;
    margin: auto;
    text-align:center;
}

#item-types{
    text-align:left;
}

.img-item {
    width: auto;
    height: auto;
    background-image: url("../img/index/ram.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid black;
}

.grid-item {
    display: grid;
    width: 100%;
    height: 100%;
    gap:1vh;
    grid-template-areas:
        'title  title'
        'item-types  item-types'
        'item-thumbs item-thumbs'
        'buy buy';
    grid-template-columns: auto auto;
    grid-template-rows: 5vh 5vh 15vw 5vw  ;
}

@media screen and (max-width:800px){
    .item-box {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
    }

    .product-img{
        width: 100%;
        height: 70vw;
        box-shadow: none;
    }

    .item-price-top{
        width: 100%;
        height: 100%;
    }

    .grid-item {
        display: grid;
        width: 100%;
        height: 50%;
    }

    .item-thumbs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .item-thumbs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
    }

    .grid-item {
        grid-template-rows: 5vh 5vh 35vw 15vw  ;
    }

}

@media screen and (min-width:800px) and (max-width:1300px){
    .item-box {
        width: 70%;
        height: auto;
    }

    .product-img{
        width: 100%;
        height: 50vw;
        box-shadow: none;
    }

    .item-price-top{
        width: 50%;
    }

    .grid-item {
        display: grid;
        width: 100%;
        height: 50%;
    }

    .item-thumbs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .item-thumbs{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
    }

    .grid-item {
        grid-template-rows: 5vh 5vh 15vw 10vw  ;
    }
}