/* PRODUTOS */
.main-content{
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.product-section{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.product-section h1{
    color:#232623;
}

.spacer{
    width: 100%;
    border: 1px solid #232623;
}

.header-products{
    text-decoration: none;
}

.header-products:hover{
    cursor: pointer;
    text-decoration: underline solid #00bac6;
}


#software-content{
    display:none
}

#perifericos-content{
    display:none
}














.products-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    flex-wrap: wrap;
}

.product {
    width: 10%;
    background-color: rgb(35, 38, 35);
    border: 2px solid rgb(35, 38, 35);
    margin: 3%;
    transition: box-shadow 0.5s ease 0s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    box-shadow: 0px 0px 15px #232623;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
}


#desc-prod {
    color: white;
    text-align: center;
}


.product-button {
    background-color: white;
    color: black;
    text-align: center;
    transition: text-shadow 0.5s ease 0s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-button:hover {
    cursor: pointer;
    text-shadow: 2px 2px 8px #232623;
}

hr {
    width: 70%;
    border-top: 3px solid black;
}

.product-button a:link,.product-button a:visited {
    color: black;
}

@media screen and (max-width:1100px){

    .product {
        width: 30%;
    }
}