body {
    padding: 0;
    margin: 0;

}


#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* height: 1000px;*/
    /* display:inline-block;  */
    width:100%;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #000;
}

.card-header::after {
    content: "";
    width: 130px;
    height: 1px;
    background-color: #000;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #000;
    font-size: 18px;
    opacity: 1;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000;
}

.card-forgotpassword {
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}


.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit {
    width: 100%;
    height: 40px;
    background-image: url(../img/index/footer2.png);
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
}

.card-footer a {
    text-align: center;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}

